<!DOCTYPE html>
<html>
  <head>
    <title>Ionic Minimums Server</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ionic Minimums Server</h1>
    <p>Welcome to Ionic Minimums Server</p>
  </body>
</html>
